doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    title AI
  body
    .container.mt-5
      .row
        #auto-detect.col-lg-5.mt-5
          .row
            .col-lg-12
              video(autoplay='')
            .col-lg-12.mt-5
              img#screenshot(src='https://via.placeholder.com/400')
            .col-lg-12.mt-5
              .row
                .col-lg-4.col-6.mt-1.text-center
                  button.btn.btn-success#capture-button Checkin
                .col-lg-4.col-6.mt-1.text-center
                  button#screenshot-button.btn.btn-primary Take a Photo
                .col-lg-4.col-12.mt-1.text-center
                  button#cssfilters-apply.btn.btn-info Apply filter
        #manual-select.col-lg-7
          form.needs-validation(novalidate, encrypt='multipart/form-data')
            .form-row
              .col-lg-4.mt-5
                .form-group
                  .custom-file
                    input#left-face.custom-file-input(type='file', required)
                    label.custom-file-label(for='left-face') Left
                    div.invalid-tooltip Please upload an image
                .text-center
                  img#left-face-preview(src='https://via.placeholder.com/190', alt='Left face')
              .col-lg-4.mt-5
                .form-group
                  .custom-file
                    input#mid-face.custom-file-input(type='file', required)
                    label.custom-file-label(for='mid-face') Center
                    div.invalid-tooltip Please upload an image
                .text-center
                  img#mid-face-preview(src='https://via.placeholder.com/190', alt='Centre face')
              .col-lg-4.mt-5
                .form-group
                  .custom-file
                    input#right-face.custom-file-input(type='file', required)
                    label.custom-file-label(for='right-face') Right
                    div.invalid-tooltip Please upload an image
                .text-center
                  img#right-face-preview(src='https://via.placeholder.com/190', alt='Right face')
              .col-12.form-group.text-center.mt-5
                .input-group
                  .input-group-prepend
                    span#usernamePrepend.input-group-text Username
                  input#username.form-control(type='text', placeholder='Nah', aria-describedby='usernamePrepend', required)
                  div.invalid-tooltip Please fill in Name field
              .col-12.form-group.text-center.mt-5
                button#manual-detect.btn.btn-info(type='submit') Upload
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
    script(src="/js/capture-video-frame.js")
    script(src="/js/api.js")
    script(src='/js/main.js')
    script(src='/js/video-utils.js')
